body {
    touch-action: pan-y;
}

#btn-w:active {
    background-color: #102684;
  }

  #btn-w.clicked {
    background-color: #102684;
  }

  #btn.touchstart {
    background-color: #102684;
  }

#countdown {
    font-size: 13.6px;
}

#countdown-secs {
    font-size: 13.6px;
    text-transform: lowercase;
}

#started {
    display: none;
}

#ended {
    display: none;
}